body {
    height: 100vh;
    width: auto;
    background: linear-gradient(#031520, #063553);
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

h1 {
    margin: 0.3em 0 0.3em 0;
    color: #338fcc;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bolder;
    font-size: 12em;
}

h2 {
    margin: 0;
    color: #338fcc;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    color: #5e90b1;
    font-weight: bold;
    font-size: larger;
    border-top: solid 0.1em #81a5bd;
    border-bottom: solid 0.1em #81a5bd;
}

p {
    color: #ffffff;
    font-size: larger;
    font-weight: 400;
}

section {
    flex-wrap: wrap;
    justify-content: flex-start;
    /* margin:  5em 0 5em 0; */
}

.flex-evenly {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    padding: 2em;
    justify-content: space-evenly;
}

.flex-evenly>* {
    width: 300px;
}

.border {
    margin: 1em;
    padding: 2em;
    border: solid 2px #5e90b1;
}

.space-around {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 3em;
}

div.title_av,
div.title_webdev {
    flex-direction: column;
    gap: 30px;
    transition: 150ms;
}

div.title_av a:hover,
div.title_webdev a:hover {
    color: #aebec9;
    font-size: larger;
    transition: 200ms;
}

.title img {
    width: 35%;
    border-radius: 5%;
}

.presentation-text {
    width: 50vw;
    margin: auto;
    padding: 0.5em;
    /* background-color: #81a5bd; */
    border: solid 2px #FFFFFF;
    border-radius: 10px;
}

section.cv {
    width: 60vw;
    margin: auto;
    justify-content: center;
    padding-top: 1em;
    border: solid 3px #5e90b1;
    margin-top: 5em;
    margin-bottom: 5em;
}

.cv>h2 {
    font-size: xx-large;
}

section.cv>#experiences>ul>li>ul>li {
    list-style: circle;
}

section.cv>#skills>ul {
    margin: auto;
}

section.cv>#skills>ul>ul {
    width: 100%;
}

a {
    color: #338fcc;
    text-decoration: none;
}

ul {
    color: #81a5bd;
    text-align: start;
    list-style: none;
}

li a {
    color: #5e90b1;
    text-decoration: none;
    transition: 150ms;
}

li a:hover {
    color: #aebec9;
    font-size: larger;
    transition: 150ms;
}

em {
    font-style: normal;
    font-weight: 700;
}