html {
    background-color: #031520;

    display: flex;
}

body {
    background-color: #06324f;

    margin: 1em 4em 1em 4em;

    text-align: center;
    align-items: center;

    font-family: 'Alegreya Sans', sans-serif;

    height: 100%;
    width: 100%;

    border: 0.5em #ffffff;
}

h1 {
    color: #81a5bd;
    font-family: 'Aboreto';
    font-weight: bolder;
    font-size:xx-large;
}

h2 {
    color: #338fcc;
    font-family: 'Aboreto';
    font-weight: bold;
}

h3 {
    color: #5e90b1;
    font-family: 'Aboreto';
    font-weight: bold;
    font-size: larger;
}

p {
    color: #ffffff;
    font-weight: 600;
}

div {
    padding: 1em;
}

a {
    color : #338fcc ;
    text-decoration: none;
}

li a {
    color : #5e90b1;
    text-decoration: none;
}

ul li {
    margin: 0em;
    padding: 0.2em;

    text-align:start;
    align-items:flex-start;

    color: #81a5bd;
}

section {
    flex-wrap: wrap;
    justify-content: flex-start;
}

ul {
    color: #81a5bd;
    text-align: start;
    margin: 0.2em;
}

strong {
    font-weight: 700;
}

.experiences {
    margin: 2.7em;
}
